/* ページ背景 */
body {
    background: linen;
    font-family:
        'Lucida Grande',
        'Hiragino Kaku Gothic ProN',
        Meiryo,
        sans-serif;
}

/* レイアウト領域全体 */
.dock-layout {
    color: forestgreen;
    padding: 1em;
}

/* ヘッダー */
.page-header {
}
.page-title {
    font-size: 2em;
}

/* ナビゲーション（左） */
#navigation {
    float: left; 
    width: 18em;
}

/* メインコンテンツ（追従＝右） */
#contents {
    margin-left: 18em;
    padding-bottom: 3em;
}

/* ナビゲーションリンク */
#section-link-list {
    counter-reset: section-number;
    list-style: none;
    padding-left: 1em;
}
#section-link-list li {
    font-size: 1.2em;
    line-height: 1.5em;
    width: 90%;

    padding-bottom: .15em;
    border-bottom: 2px solid forestgreen;
    margin-bottom: .7em;
}
#section-link-list li:before {
    display: inline-block;
    text-align: center;
    background: lightsteelblue;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;

    counter-increment: section-number;
    content: counter(section-number);
    color: lavender;
    font-weight: bold;

    margin-right: .5em;
}
li.selected:before {
    background: limegreen !important;
}

.section-link {
    color: forestgreen;
    font-weight: bold;
    text-decoration: none;
}
.section-link:hover {
    font-size: 110%;
}

/* セクション（内部ページ） */
.section-item {
}
.section-header {
}
.section-title {
    font-size: 1.5em;
    padding-left: .3em;
    border-left: .2em solid forestgreen;
}

/* サブセクション */
.subitem {
}
.subsection-title {
    font-size: 1em;
}
.subitem:not(:last-child) {
    margin-bottom: 3em;
}

/* プロパティ表 */
.properties {
    caption-side: top;
    margin: 2em auto 0 auto;
}
.properties tr:nth-child(even) {
    background: paleturquoise;
}
.properties th {
    width: 12em;
    text-align: right;
    padding: .2em .5em;
}
.properties td {
    width: 36em;
    text-align: left;
    padding: .2em .5em;
}
.properties,
.properties th,
.properties td {
    border: thin solid forestgreen;
    border-collapse: collapse;
}
.properties-title {
    font-size: small;
    font-weight: bold;
}

/* フッター */
#footer {
    position: relative;
}
.copyright {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* 本文 */
p.text {
    text-indent: 1em;
}

/* 画像 */
img {
    width: 100%;
}
.image {
    max-width: 95%;
    margin: 0 auto;
}
.small-image {
    max-width: 50%;
    margin: 0 auto;
}

/* 強調 */
.keyword,
.path,
.shortcut-key {
    background: gray;
    color: white;
    font-size: 90%;
    padding: 0 0.25em;
    border-radius: 0.25em;
    margin: 0 0.25em;
}

/* 注意書き */
.caution {
    color: crimson;
    font-size: small; 
}

